NEXT_PUBLIC_SUPABASE_URL=https://ozrvbtgspqxvqiuclmbk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eNf5udCOL8Lp3bl-XPbwCg_Sm_sTMHf
SUPABASE_SERVICE_ROLE_KEY=

XAI_API_KEY=
GROK_MODEL=grok-4
GROK_EVAL_MODEL=grok-4

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

CRON_SECRET=change-this-secret
